#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}





/* header style */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
}

li a:hover:not(.active) {
  background-color: #111;
}

.login {
  background-color: #1a17c9;
  float: right;
}

.register {
  float: right;
  background-color: #c3eb11;
}



.template {
  margin-top: -20px;
  width: 1000px;
  height: 500px;
  background-color: #fff;
}

.form {
  /* padding-top: 30px; */
  width: 300px;
  margin: auto;
}

.navbar {
  display: flex;
}

.quizbg {
  background-color: #fff;
  width: 900px;
  margin: auto;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}





/* quiz */
.questionClass{
  background-color: #282c34;
  border-radius: 10px;
  border: 1px solid gray;
  padding:  16px;
  margin: 10px auto;
  min-width: 400px;
  max-width: 900px;
  text-align: center;
  color: white;
}

.button-overall{
  column-count: 2;
  padding: 20px 150px;
}

.normal-button{
  background-color: white;
  width: 280px;
  height: 80px;
  padding: 8px;
  margin: 24px;
  color: orange;
  font-weight: bolder;
  font-size: larger;
  border-radius: 10px;
}

.normal-button:hover{
  transform: scale(1.1);
  transition: transform 200ms ease-in-out;
  cursor:pointer;
  background-color: #11fd73;
  color: white;
}

.clicked-button {
  background-color: #11fd73;
  border: none;
  color: #000000;
}


.loading{
  margin-top: 50%;
  font-size: large;
  color: white;
}